################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs/Octopus
/Basis/bin/Debug/netstandard2.0
/Basis/obj
*.nupkg
/Basis/bin/Release/netstandard2.0
/Crypto/bin/Release/netstandard2.0
/Crypto/obj
/Nuget/Crypto/lib/netstandard2.0
/Octopus.Tests/bin/Release
/Octopus.Tests/obj/Release
/packages
